<!DOCTYPE html>
<html>
<head>
 <title>Car List</title>
</head>
<body>
   <h1>Cars</h1>
  <a href="/cars/new">Add New Car</a>
  <ul>
    <% cars.forEach(car => { %>
      <li>
        <a href="/cars/<%= car._id %>"><%= car.name %> - <%= car.model %> - <%= car.year %></a>
        <form action="/cars/<%= car._id %>?_method=DELETE" method="POST" style="display:inline;">
          <button type="submit">Delete</button>
        </form>
      </li>
    <% }) %>
  </ul>
</body>
</html>
