 <!-- all template pages -->

 <head>
   <meta charset="UTF-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />

   <link rel="stylesheet" href="/stylesheets/style.css" />
 </head>

<body>

 <a class="cars-index-link" href="/cars">
   <div class="index-link-text">Back to Cars</div>
 </a>
 <div class="car-actions">
   <form
     class="delete-form"
     action="/cars/<%=car._id%>?_method=DELETE"
     method="POST"
   >
     <button class="delete-button" type="submit">
       Delete <%= car.name %>
     </button>
   </form>
   <a class="edit-link" href="/cars/<%= car._id %>/edit">
     <div class="edit-text">Edit <%= car.name %></div>
   </a>
 </div>

  <h1><%= car.name %></h1>
  <% if(car.isReadyToBuy){ %>
    <p>This car is ready to Buy!!!</p>
  <% } else { %>
    <p>This car is not ready to Buy.</p>
  <% } %>
</body>